*{ 
    margin: 0;
    padding: 0;
    font-size: 24px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
/*ESTILOS HEADER*/
header{
    background-color: #faa679;
    width: 100%; /*colocar siempre estos valores para no moverlos mas adelante*/
    height: 20vh; /*vh = viewport height*/
    display: inline-block; /*modifica la orientación de todo el grupo, posiciona los elementos*/
    align-items: center; /*lleva los elementos al centro*/
    justify-content: space-between; /*lleva los elementos a los extremos*/
    padding: 60px 50px;
    border-bottom-left-radius: 2.5%;
    border-bottom-right-radius: 2.5%;
    
}

/*ESTILOS LINK BUS*/

header *{
    display: inline;
}

.button_index{
    color: #00003A;
    text-decoration: none;
    font-size: 55px;
    margin-left: 10px;
    padding-bottom: 30px;
    display: inline-block;
    font-family: 'Source Sans Pro', sans-serif;
}
.button_index span *{
    margin: 0;
    width: 100px;
}
.bus_icon{
    margin-left: 0;
    width: 100px;
}
.bus_icon {
    animation-duration: 1s;
    animation-name: slidein;
    overflow:hidden
  }
  
  @keyframes slidein {
    from {
      margin-left: 0%;
      width: 100px;
    }
  
    to {
      margin-left: 1.2%;
      width: 100px;
    }
  }

/*ESTILOS BARRA DE NAVEGACION*/
.navigation_bar{
    margin-left: 45%;
}
.button_nav{
    color: white;
    text-decoration: none;
    display: inline-block;
    margin-right: 20px;
}

/*ESTILOS BOTÓN MI CUENTA*/

.button_user{
    background: #fa9e6c;
    color: hsl(0, 0%, 100%);
    display: inline-block;
    text-align: center;
    width: 200px;
    height: 40px;
    text-decoration: none;
    border-radius: 15px;
    
}
.user_icon{
    margin-top: 5px;
    width: 25px;
    align-self: center;
}

/*ESTILOS BODY*/

body{
    background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url("https://www.nautygo.com/uploads/0000/1/2021/12/24/interjetcartagena.jpg");
    width: 100%; /*colocar siempre estos valores para no moverlos mas adelante*/
    height: 20vh; /*vh = viewport height*/
}
.body.title{
    align-items: center; 
    justify-content: space-between;
    width: 100%; 
    height: 10vh;
    text-align: center;
}
.information_title{
    margin-left: 5%;
    padding-top: 50px;
    font-size: 30px;
    color: #00003A;
}
.user_box{
    width: 90%;
    display: inline-block;
    background-color: #f9f9ff;
    margin-top: 50px;
    margin-bottom: 25px;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 15px;
    box-shadow: 0px 0px 7px -1px hsl(330, 2%, 69%);
    height: 600px;
}
.user_information{
    width: 50%;
    height: 100%;
    display: inline-block;
    margin-top: 50px;
    margin-left: 100px;
    margin-bottom: 50px;
}
.user_information h2{
    font-size: 25px;
    color: #00003A;
}
.form_user{
    margin-top: 30px;
}
.form_user p{
    margin-bottom: 20px;
}
.form_user input{
    border-radius: 15px;
    border-color: #f9f9ff;
    margin-left: 20px;
}
.img_user{
    display: inline-block;
    width: 20%;
    margin-left: 10%;
    margin-top: 50px;
}
.img_user img{
    width: 400px;
}
#submit{
    display: inline-block;
    width: 25%;
    height: 50px;
    background: #fa9e6c;
    border: 2px solid #fa9e6c;
    color: white;
    border-radius: 15px;
    box-shadow: 0px 0px 7px -1px hsl(330, 2%, 69%);
    margin-left: 50px;
    margin-top: 2%;
}
/* ESTILOS FOOTER*/
footer{
    background-color: #faa679;
    width: 100%; /*colocar siempre estos valores para no moverlos mas adelante*/
    height: 10vh; /*vh = viewport height*/
}
.credits{
    padding: 30px;
    display: flex;
    justify-content: space-between;
}
footer p{
    color: white;
    font-size: 16px;
}
.logo_final{
    display: flex;
    justify-content: center;
}
.logo_final img{
    position: relative;
    right: 10px;
    bottom: 5px;
}
/*////////////////////////////////////////////////////////////////*/
/*MEDIA QUERIE 1024*/
@media (max-width: 1024px){
    header{
        width: 100%;
        height: 50%;
    }
    /*LOGO HEADER*/
    .bus_icon{
        width: 80px;
        margin-left: 10px
        }
    /*ANIMACIÓN LOGO*/
    .bus_icon {
        animation-duration: 1s;
        animation-name: slidein;
        overflow:hidden
    }
    
    @keyframes slidein {
        from {
        margin-left: 0%;
        width: 80px;
        }
    
        to {
        margin-left: 1.2%;
        width: 80px;
        }
    }
    .button_index{
        font-size: 40px;
        }
    /*BARRA DE NAVEGACIÓN*/
    .navigation_bar{
        margin-left: 13%;
        }
    .button_nav{
        margin-right: 6px;
    }
    .button_user{
        width: 180px;
        height: 40px;
    }
    .form_user{
        margin-top: 30px;
    }
    .form_user p{
        margin-bottom: 20px;
    }
    .form_user input{
        border-radius: 15px;
        border-color: #f9f9ff;
        margin-left: 20px;
    }
    .img_user{
        display: inline-block;
        width: 10%;
        margin-left: 10%;
        margin-top: 50px;
    }
    .img_user img{
        width: 200px;
    }
    #submit{
        display: inline-block;
        width: 28%;
        height: 50px;
        background: #fa9e6c;
        border: 2px solid #fa9e6c;
        color: white;
        border-radius: 15px;
        box-shadow: 0px 0px 7px -1px hsl(330, 2%, 69%);
        margin-left: 50px;
        margin-top: 2%;
    }
    /*FOOTER*/
    footer{
        height: 55%;
    }
}
/*////////////////////////////////////////////////////////////////*/
/*MEDIA QUERY 768*/
@media (max-width: 768px){
    *{
        font-size: 15px;
    }
    header{
        height: 30%;
        padding: 50px 25px;
    }
    .button_index{
        font-size: 25px;    
    }
    /*LOGO HEADER*/
    .bus_icon{
        width: 40px;
        margin-left: 5px;
    }
    /*ANIMACIÓN LOGO*/
    .bus_icon {
        animation-duration: 1s;
        animation-name: slidein;
        overflow:hidden
    }
    
    @keyframes slidein {
        from {
        margin-left: 0%;
        width: 40px;
        }
    
        to {
        margin-left: 1.2%;
        width: 40px;
        }
    }
    /*BARRA DE NAVEGACIÓN*/
    .navigation_bar{
        margin-left: 100px;
        }
    .button_nav{ 
        margin-right: 5px;
    }
    .button_user{
        width: 150px;
        height: 40px;
    }
    .user_icon{
        margin-top: 5px;
        width: 20px;
        align-self: center;
    }
    .information_title{
        margin-left: 5%;
        padding-top: 50px;
        font-size: 30px;
        color: #00003A;
    }
    .user_box{
        width: 90%;
        display: inline-block;
        background-color: #f9f9ff;
        margin-top: 50px;
        margin-bottom: 25px;
        margin-left: 5%;
        margin-right: 5%;
        border-radius: 15px;
        box-shadow: 0px 0px 7px -1px hsl(330, 2%, 69%);
        height: 600px;
    }
    .user_information{
        width: 50%;
        height: 100%;
        display: inline-block;
        margin-top: 50px;
        margin-left: 100px;
        margin-bottom: 50px;
    }
    .user_information h2{
        font-size: 20px;
        color: #00003A;
    }
    .form_user{
        margin-top: 20px;
    }
    .form_user p{
        margin-bottom: 20px;
    }
    .form_user input{
        border-radius: 15px;
        border-color: #f9f9ff;
        margin-left: 20px;
    }
    .img_user{
        display: inline-block;
        width: 20%;
        margin-left: 5%;
        margin-top: 0px;
    }
    .img_user img{
        width: 150px;
    }
    #submit{
        display: inline-block;
        width: 25%;
        height: 50px;
        background: #fa9e6c;
        border: 2px solid #fa9e6c;
        color: white;
        border-radius: 15px;
        box-shadow: 0px 0px 7px -1px hsl(330, 2%, 69%);
        margin-left: 50px;
        margin-top: 2%;
    }
    /*FOOTER*/
    footer{
        height: 55%;
    }
    .credits{
        padding: 30px;
        display: flex;
        justify-content: left;
    }
    footer p{
        color: white;
        font-size: 10px;
    }
    .logo_final{
        margin-left: 15%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .logo_final img{
        position: relative;
        right: 10px;
        bottom: 5px;
        align-items: center;
    }
}
/*////////////////////////////////////////////////////////////////*/
/*MEDIA QUERY 480*/
@media (max-width: 480px){
    *{
        font-size: 12px;
    }
    header{
        height: 30%;
        padding: 50px 25px;
    }
    .button_index{
        font-size: 20px;    
    }
    /*LOGO HEADER*/
    .bus_icon{
        width: 40px;
        margin-left: 5px
        }
    /*ANIMACIÓN LOGO*/
    .bus_icon {
        animation-duration: 1s;
        animation-name: slidein;
        overflow:hidden
    }
    
    @keyframes slidein {
        from {
        margin-left: 0%;
        width: 40px;
        }
    
        to {
        margin-left: 1.2%;
        width: 40px;
        }
    }
    /*BARRA DE NAVEGACIÓN*/
    .navigation_bar{
        margin-left: 30px;
        }
    .button_nav{ 
        margin-right: 5px;
    }
    .button_user{
        width: 100px;
        height: 35px;
        font-size: 10;
    }
    .user_icon{
        margin-top: 5px;
        width: 15px;
        align-self: center;
    }
    .user_icon{
        margin-top: 5px;
        width: 20px;
        align-self: center;
    }
    .information_title{
        margin-left: 5%;
        padding-top: 50px;
        font-size: 30px;
        color: #00003A;
    }
    .user_box{
        width: 90%;
        display: inline-block;
        background-color: #f9f9ff;
        margin-top: 50px;
        margin-bottom: 25px;
        margin-left: 5%;
        margin-right: 2%;
        border-radius: 15px;
        box-shadow: 0px 0px 7px -1px hsl(330, 2%, 69%);
        height: 600px;
    }
    .user_information{
        width: 50%;
        height: 100%;
        display: inline-block;
        margin-top: 50px;
        margin-left: 50px;
        margin-bottom: 50px;
    }
    .user_information h2{
        font-size: 15px;
        color: #00003A;
    }
    .form_user{
        margin-top: 20px;
    }
    .form_user p{
        margin-bottom: 20px;
        font-size: 10px;
    }
    .form_user input{
        border-radius: 15px;
        border-color: #f9f9ff;
        margin-left: 20px;
        width: 130px;
    }
    .img_user{
        display: inline-block;
    }
    .img_user img{
        width: 120px;
    }
    #submit{
        display: inline-block;
        width: 30%;
        height: 20px;
        background: #fa9e6c;
        border: 2px solid #fa9e6c;
        color: white;
        border-radius: 15px;
        box-shadow: 0px 0px 7px -1px hsl(330, 2%, 69%);
        margin-left: 30px;
        margin-top: 2%;
        font-size: 10px;
    }
    /*FOOTER*/
    footer{
        height: 60%;
    }
    .credits{
        padding: 30px;
        display: flex;
        justify-content: left;
    }
    footer p{
        color: white;
        font-size: 10px;
    }
    .logo_final{
        margin-left: 8%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .logo_final img{
        position: relative;
        right: 10px;
        bottom: 5px;
        align-items: center;
    }
}